# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_APP_ID=
FIREBASE_FIRESTORE_DATABASE_ID=

# Gemini API Key
GEMINI_API_KEY=

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
ADMIN_EMAIL=rrinsideoutcreation@gmail.com
